<!-- M1 skeleton — full shell in M2.
     This file is a template placeholder: AuroraHTMLBuilder.build() currently
     emits a minimal inline HTML directly. M2 will move to string.Template
     substitution against this shell and inject:
       - {CSP_META}         — hash-based Content-Security-Policy
       - {ASSETS_INLINE}    — inlined CSS + tokens-JS + ECharts + fonts
       - {HEADER}           — Aurora wordmark + theme toggle + confidentiality
       - {TOC}              — sticky sidebar
       - {SECTIONS}         — 14 rendered sections concatenated
       - {FOOTER}           — Report ID + copyright + last-generated
       - {INTERACTIVE_JS}   — bootstrap + shortcuts + number counters
-->
